{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "settings": {
    "react": {
    "version": "detect"
    }
  },
  "plugins": [
    "security"
  ],
  "extends": [
    "eslint:recommended", 
    "eslint-config-prettier",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:security/recommended"
  ],
  "rules": {
    "no-console": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}